{% extends 'base_back.html.twig' %}

{% block title %}Pokedex - {{ pokemon.name }} {{ parent() }}{% endblock %}

{% block body %}
    <a href="{{ path('back_pokemon_index') }}">Retour au pokedex</a> <br><br>

    {{ pokemon.name }} -
{% endblock %}
